<!-- Invite a new supplier to join as a supplier -->
<!-- Add Inline styling using style property -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplier Invite</title>
  </head>
  <body>
    <div
      style="
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        padding: 20px;
      "
    >
      <div
        style="
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          background-color: #fff;
          padding: 20px;
        "
      >
        <div style="width: 100%; text-align: center">
          <img
            src="https://agritrcae.com/assets/images/logo.png"
            alt="Agritrcae Logo"
            style="width: 200px; height: 200px"
          />
        </div>
        <div style="width: 100%; text-align: center">
          <h1 style="font-size: 2rem; font-weight: 600; color: #000">
            Welcome to Agritrace
          </h1>
          <p style="font-size: 1.2rem; font-weight: 400; color: #000">
            You have been invited to join as a supplier for {{companyName}}
          </p>
        </div>
        <div style="width: 100%; text-align: center">
          <a
            href="{{link}}"
            style="
              display: inline-block;
              padding: 10px 20px;
              background-color: #000;
              color: #fff;
              text-decoration: none;
              font-size: 1.2rem;
              font-weight: 600;
              border-radius: 5px;
            "
            >Join Now</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
